@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>找回密码</title>
    @Html.Partial("_css")
    <link href="/skins/admin/css/login.min.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if (window.top !== window.self) { window.top.location = window.location };
    </script>
    <script type="text/javascript" src="/skins/js/jquery.min.js"></script>

</head>

<body class="signin">
    <div class="signinpanel" style="width:300px;margin: 15% auto 0;">
        <div class="row">

            <div class="col-sm-12">
                <form method="post">
                    <h4 class="no-margins login-title">找回密码</h4>
                    @if (ViewBag.msg != null)
                    {
                        <p class="m-t-md error-msg">
                            @ViewBag.msg
                        </p>
                    }
                    else
                    {
                        <input class="form-control uname" id="password" placeholder="新密码" type="password" value="">
                        <input class="form-control pword m-b" id="password2" placeholder="确认密码" type="password">

                        <button class="btn btn-success btn-block" id="submit">确认修改</button>
                    }
                    <a href="@Url.Action("Login")">登录</a>
                </form>
            </div>
        </div>
        @Html.Partial("_copyright")
    </div>
    <script src="~/components/layer2.3/layer.js"></script>
    <script>
        $(function () {
            $("#submit").click(function () {
                var t = $(this), password = $("#password").val(), password2 = $("#password2").val();
                if (password == "") {
                    layer.msg("请填写新密码");
                    return false;
                }
                if (password != password2) {
                    layer.msg("密码输入不一致");
                    return false;
                }
                t.attr("disabled");
                t.text("请求中");
                $.post("@Url.Action()", { password: password }, function (response) {
                    if (response.status == 1) {
                        layer.msg("修改成功", {}, function () { window.location = '@Url.Action("login")' });
                    } else {
                        t.removeAttr("disabled");
                        t.text("确认修改");
                        layer.alert('<span style="color:red;">' + response.msg + '</span>');

                    }
                });
                return false;
            });
        })
    </script>

</body>

</html>